div.about-me-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 400px;
    padding: 40px;
    background-color: rgb(35, 46, 48);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 16px 2px inset;
    margin: 0 0 80px 0;
}

div.about-me-page > p {
    box-sizing: border-box;
    position: relative;
    padding: 32px;
    width: 40vw;
    min-width: 300px;
    word-spacing: 2px;
    letter-spacing: .5px;
    text-align: left;
    background-color: rgb(81,96,99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 2px;
}

div.contact-me-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 400px;
    background-color: rgb(35, 46, 48);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 16px 2px inset;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    margin: 32px;
    padding: 0;
}

ul > li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    min-width: 330px;
    margin: 16px;
    box-sizing: border-box;
    background-color: rgb(81,96,99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 2px;
    pointer-events: auto;
    transition: transform 0.5s;
}

ul > li:hover {
    transform: scale(1.2);
}

ul > li > p {
    box-sizing: border-box;
    font-size: 20px;
    margin: 20px;
}

ul > li > a {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul > li > p.name {
    font-weight: 800;
    text-align: left;
    transition: all 0.5s;
    user-select:none;
}

ul > li > p.link {
    font-size: 16px;
    text-align: right;
    transition: all 0.5s;
}

img.cat-group {
    bottom: -65%;
}