
div.quote {
    position: relative;
    background-color: rgb(35, 46, 48);
    width: 30vw;
    min-width: 400px;
    height: 35vh;
    min-height: 300px;
    margin: 50px 0 0 0;
    box-sizing: border-box;
    /*left: calc(50vw - 30vw/2);*/
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 16px 2px inset; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.quote > h2 {
    position: absolute;
    top: 0;
}

div.quote > div {
    height: 60%;
    width: 70%;
    padding: 24px;
    background-color: rgb(81,96,99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.quote > div > p {
    box-sizing: border-box;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

p.quote {
    text-align: left;
    font-size: 18px;
}

p.author {
    text-align: right;
    font-size: 20px;
}

p.author::before {
    content: '— '
}