div.image-carousel {
    position: relative;
    height: 550px;
    width: 60vw;
    min-width: 600px;
    /*left: calc(50vw - (60vw / 2));*/
    overflow: hidden;
    /*border: 4px solid black;*/
    padding: 60px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(35, 46, 48);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 16px 2px inset;
}

div.image-carousel > h2 {
    top: 3%;
    position: absolute;
    margin: 0;
    width: 100%;
}

div.image-carousel > button {
    z-index: 1;
    position: absolute;
    top: calc(50% - 200px/2);
    transform: scale(1.0);
    height: 200px;
    width: 125px;
    background-color: rgb(104,117,120, .0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px; /* light box shadow for visibility */
    color: white;
    font-size: 90px;
    border: 0;
    transition: transform 0.2s;
    user-select: none;
}

div.image-carousel > button:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

div.image-carousel > button:active {
    transform: scale(1);
    transition: transform 0.1s;
}

button.btn-previous {
    /*background: linear-gradient(to left, rgb(0,0,0,0.0) 0%, rgb(0,0,0,0.75) 100%); */
    left: 5%;
}

button.btn-next {
    /* background: linear-gradient(to right, rgb(0,0,0,0.0) 0%, rgb(0,0,0,0.75) 100%); */
    right: 5%;
}

button.btn-active {
    display: block;
}

button.btn-inactive {
    display: none;
}

div.image-carousel > div {
    position: absolute;
    height: 430px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    margin: 0;
    box-sizing: border-box;
    transition: left 2s ease-in-out, right 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(81,96,99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 2px;
    /*border: 4px solid green;*/
}

div.image-carousel > div.img-inactive {
    display: none;
}

div.image-carousel > div > img {
    height: 80%;
    width: auto;
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 4px solid red;*/
    user-select: none;
}

div.image-carousel > div > p {
    position: absolute;
    bottom: 0;
}

