div.nav-area {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 148px; /* equal above and below at the moment, check again once done styling */
    width: 100%;
    box-sizing: border-box;
    /*border: 4px solid green;*/
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 800px;
    top: 16px;
    /*top: -12vh;*/
    left: calc(50% - (800px/2));
    padding: 8px;
    background-color: black;
    color: white;
    opacity: 1; /* 0.7 when hidden */
    transform: scale(1); /* 1 when hidden */
    transition: top 0.5s, opacity 0.5s, transform 0.5s;
}

nav > p {
    width: auto;
    margin: 16px;
    padding: 16px;
    font-size: 24px;
    pointer-events: none;
    transition: 
        transform 0.2s ease-out,
        color 0.2s,
        background-color 0.2s;
}

nav > p > a {
    padding: 16px 0;
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
}

nav > p:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
    transition: 
        transform 0.2s ease-out,
        color 0.2s,
        background-color 0.2s;
}

nav > p.selected {
    background-color: white;
    color: black;
    transform: scale(1.05);
}